<p>
  <%= f.label :can_be_part, t("can_be_part")%><br />
  <%= f.check_box(:can_be_part) %>
</p>
<p>
  <%= f.label :individual_sale, t("individual_sale")%><br />
  <%= f.check_box(:individual_sale) %>
</p>




<p>
  <% if @product.assembly? %>
    <% if @product.breakapart?  %>
        This is a breakapart bundle, so it can have inventory of it's own. 
        Right now it has <%= f.text_field :orig_on_hand, :size => 4 %>.
      <% if @product.limiting_reactant.nil? %>
        This item is a breakapart but it doesn't have a positive item to subtract from -- VERY bad.  Please fix.
      <%else%>
        But if we run out of those
      we have <%=@product.limiting_reactant.on_hand%> from the <%= link_to @product.limiting_reactant.name, edit_admin_product_url(@product.limiting_reactant) %> that we can break apart.
      <%end%>
      
      <% content_for :head do %>
        <script type="text/javascript">
          jQuery(document).ready(function(){
            $("input[id='product_on_hand']").disable().parent().hide();
          });
        </script>
      <% end %>
      
    <%else%>
      This is a regular bundle, so it doesn't have any inventory of it's own. Based upon the inventory of the items contained within this bundle, we have <b><%=@product.limiting_reactant.product.on_hand%></b> available to sell. The limiting reactant is <%= link_to @product.limiting_reactant.product.name, edit_admin_product_url(@product.limiting_reactant.product) %>
      <% content_for :head do %>
        <script type="text/javascript">
          jQuery(document).ready(function(){
            $("input[id='product_on_hand']").disable().parent().hide();
          });
        </script>
      <% end %>
      
    <%end%>
  <%else%>
    
  <%end%>
    
</p>